html {
  height: 100%;
  width: 100%;
}
body{
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #454545;
  color: white;
  padding-bottom: 20px;
  margin: 20px;
}

h1, h2{
  color: aqua;
}

.text{
  margin-left: 30%;
  margin-right: 30%;
  padding: 10px;
}

header{
  text-align: center;
  background-color: #454545;
  padding: 5px;
}

.socials{
  display: flex; 
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.projectSection{
  background-color: #454545;
  padding-top: 20%;
}

.container{
  display: flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
}

.card{
  /*flex: 0 50%; */
  max-width: 40%;
  text-wrap: wrap;
  margin: 50px;
  padding: 7px;
  border: 2px solid white;
}

@media only screen and (max-width: 1500px) {
  .container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 30%;
  }
}

button{
  border-radius: 20%;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: aqua;
  border: black 2px;
  font-size: 12px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
  display: block;
}

button:hover{
  background-color: white;
}

.header {
  position: fixed;
  top: 0;
  z-index: 999;
  margin-right: 5%;
  width: 100%;
  background-color: #454545;
}

.progress-container {
  width: 100%;
  height: 3px;
  margin-right: 5%;
  background: #454545;
}

.progress-bar {
  height: 3px;
  margin-right: 5%;
  background: aqua;
  width: 0%;
}
